body {
	width: 744px;
	margin: 0px;
  font-family: Sans-Serif;
}

#topbar {
	height: 60px;
  width: 744px;
	background-color: lightblue;
	box-shadow: 0px 5px 3px grey; 
  position: fixed;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 2em;
  
}

#arr{
 vertical-align: middle;
 height: 100%;
 margin-right: 20px;
  
}

#fullName{
  overflow: hidden; 
}

#oval{
 
  
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
  margin-right: 20px;



  background: #fff; 
  color: #000;
  
}

#sym{
  letter-spacing: 10px;
  float: right;
  
}


#mainmsgbody {

  font-size: 0.8em;
  background-image: url("bg.jpg");
  background-position: center top;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 120px;
	

}

@media print {
    #topbar {
      position: static;
    }
  
    #mainmsgbody {
      padding-top: 20px;
      
    }
    
    
  }

/* CSS talk bubble */

.talk-bubble-left, .talk-bubble-right {
  margin-bottom: 20px;
  display: inline-block;
	position: relative;
	width: 500px;
	padding: 5px;
	height: auto;
  word-break:break;
}
.talk-bubble-left {
/*	margin: 40px;*/
	margin-left: 10px;
	margin-right: 204px;

	
	background-color: #ffffff;
  
}

.talk-bubble-right {
	/*margin: 40px;*/
	margin-left: 194px;
	margin-right: 10px;

	background-color: #DCF8C6;
  

}


.talk-bubble-date, .talk-bubble-middle {
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	width: 300px;
	padding: 5px;
	height: auto;
	background-color: lightblue;
  text-align: center;
  word-break:break-all;
}

.talk-bubble-middle {

}
.talk-bubble-date{
  text-transform: uppercase;
  font-size: 0.8em;
  }

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #ffffff transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #ffffff transparent transparent transparent;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color:  #DCF8C6 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color:  #DCF8C6 transparent transparent transparent;
}

.round{
	 border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.talktext{
  padding-left: 1em;
	text-align: left;
  line-height: 1.5em;
  word-wrap: break-word;
  padding-top: 1em;
  padding-bottom: 1em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


.timestamp, .who {
	color: grey;
  font-size: 1em;
	
}

.timestamp {
  float: right;
}
.who {
	display: block;
}
